@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';
@import 'libs/slick';

@import 'base/variables';


*{
    font-family: 'Roboto Condensed',sans-serif ;
    font-family: 'Roboto' ,sans-serif;
    box-sizing: border-box;
    outline: none;
}
.container{
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/button';
@import 'blocks/title';
@import 'blocks/advantages';
@import 'blocks/work';
@import 'blocks/block';
@import 'blocks/price';
@import 'blocks/consultation';
@import 'blocks/order';
@import 'blocks/carousel';
@import 'blocks/question';
@import 'blocks/map';
@import 'blocks/footer';
@import 'blocks/pageup';
