.carousel {
    padding: 51px 0 65px 0;
    max-width: 100%;

    &__head {
        display: block;
        text-align: center;
        position: relative;
    }
    

    &__item {
        height: auto;
        max-width: 100%;
        margin: 0 auto;
        
    }

    &__img {
        margin: 0 39px 19px 39px;
        margin: 0 auto;
    }

    &__name {
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 18px;
    }

    &__text {
        font-size: 14px;
        font-weight: 300;
        line-height: 22.01px;
        text-align: center;
        max-width: 601px;
        display: block;
        margin: 0 auto;
    }
}

.prev{
    width: 30px;
    height: 52px;
    display: block;
    position: absolute;
    left: 40%;
    top: 0;
    transform: translateY(50%);
    border:none;
    background-color:rgba(253, 253, 253, 0.1);
    z-index: 1;
}
.next{
    width: 30px;
    height: 52px;
    display: block;
    position: absolute;
    right:40%;
    top: 0;
    transform: translateY(50%);
    border:none;
    background-color:rgba(253, 253, 253, 0.01);
    z-index: 1;
}



